*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#selectionContainer{
    width: 100%;
    height: 100px;
}

#contentContainer{
    display: flex;
    width: 100%;
    height: 500px;
}

#templatesContainer, #configContainer{
    width: 50%;
}

#templatesTable > tbody > tr > td{
    border: 1px solid black;
}

#templatesTable{
    border-collapse: collapse;
}

#templatesTable, #regexTable{
    width: 100%;
    text-align: center;
}

#fieldsTable{
    width: 50%;
    align-self: center;
}

#configContainer{
    display: flex;
    flex-direction: column;
}

